/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('/assets/fonts/work-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
       url('/assets/fonts/work-sans-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-800 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/work-sans-v3-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'),
       url('/assets/fonts/work-sans-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/work-sans-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/work-sans-v3-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/work-sans-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('/assets/fonts/work-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/work-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/work-sans-v3-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Marvin Visions';
  font-style: bold;
  font-weight: 800;
  src: url('/assets/fonts/MarvinVisions-Bold.eot'); /* IE9 Compat Modes */
  src: local('Marvin Visions'), local('MarvinVisions-Regular'),
       url('/assets/fonts/MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/MarvinVisions-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/MarvinVisions-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* work-sans-500 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/work-sans-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Medium'), local('WorkSans-Medium'),
       url('/assets/fonts/work-sans-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/work-sans-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/work-sans-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/work-sans-v3-latin-500.svg#WorkSans') format('svg'); /* Legacy iOS */
}

